<div class="comment">
	<p><%= comment.content %></p>
	<span style="font-color: gray; font-style: italic;">Written by 
		<%= comment.author_name %>
		at 
		<%= comment.created_at %>
	</span>
	<br />
	<br />
	<br />
</div>
